<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Services</h3>
								<ul class="unstyled">
									<li><a href="#">Training</a></li>
									<li><a href="#">Implementation</a></li>
									<li><a href="#">Customization</a></li>
									<li><a href="#">Consulting</a></li>
								</ul>
							</section>
							<section class="3u 6u$(medium) 12u$(small)">
								<h3>Company</h3>
								<ul class="unstyled">
									<li><a href="#">Leadership</a></li>
									<li><a href="#">Lumedx Advantage</a></li>
									<li><a href="#">Lumedx Clients</a></li>
									<li><a href="#">Healthcare IT Blog</a></li>
									<li><a href="#">Coming Events</a></li>
									<li><a href="#">Legal Notices</a></li>
								</ul>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Support</h3>
								<ul class="unstyled">
									<li><a href="#">Forum</a></li>
									<li><a href="#">Self-Service Portal</a></li>
									<li><a href="#">Sign up for e-Learning</a></li>
									<li><a href="#">System Requirements</a></li>
									<li><a href="#">System Requirements - Lumedx Hosted Solution</a></li>
									<li><a href="#">Corporate Security Standards</a></li>
								</ul>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Contact Us</h3>
								<ul class="unstyled">
									<li><a href="#">Directions</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">Webmaster</a></li>
									<li><a href="#">Contact Form</a></li>
								</ul>
							</section>
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Lumedx. All rights reserved.</li>
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook" target="_blank" href="https://www.facebook.com/LUMEDX/"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter" target="_blank" href="https://twitter.com/Lumedx"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus" target="_blank" href="https://plus.google.com/113972693818126244244/videos"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin" target="_blank" href="https://www.linkedin.com/company/lumedx"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>