
	<div class="wrapper">


		<!--=== Slider ===-->
		<div class="slider-inner">
			<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2><i>INNOVATING</i> <br /> <i> CV INFORMATION &amp;</i> <br /><i>IMAGE MANAGEMENT</i> <br /> </h2>
					<p><i>With cloud-based and client-server solutions</i> <br /> <i>designed specifically for</i> <br /> <i>cardiovascular workflows</i></p>
					<!--<div class="da-img"><img class="img-responsive" src="../assets/1.png" alt=""></div>-->
				</div>
				<div class="da-slide">
					<h2><i>RESPONSIVE VIDEO</i> <br /> <i>SUPPORT AND</i> <br /> <i>MANY MORE</i></h2>
					<p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>
					<!--<div class="da-img">
						<iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
					</div>-->
				</div>
				<div class="da-slide">
					<h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
					<p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
				<!--	<div class="da-img"><img src="../assets/html5andcss3.png" alt="image01" /></div> -->
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
		</div><!--/slider-->
		<!--=== End Slider ===-->

		<!--=== Purchase Block ===-->
		<div class="purchase">
			<div class="container overflow-h">
				<div class="row">
					<div class="col-md-9 animated fadeInLeft">
						<span>Lumedx is the number-1 independent provider of ACC and STS registry software.</span>
						<p>As quality improvement, pay-for-performance and value-based purchasing initiatives expand, hospitals performing cardiovascular services are challenged to find cost- and time-effective ways to participate in the registries. LUMEDX CVIS software streamlines the data collection-and-submission process, saving your staff time while improving data accuracy. In addition, when you invest in LUMEDX registry solutions, you get more than a straightforward way to collect and submit data. You receive tools to help your hospital continually improve its outcomes and become a true Center of Excellence.</p>
					</div>
					<div class="col-md-3 btn-buy animated fadeInRight">
						<a href="#" class="btn-u btn-u-lg"><i class="fa fa-cloud-download"></i> Download Now</a>
					</div>
				</div>
			</div>
		</div><!--/row-->
		<!-- End Purchase Block -->

		<!--=== Content Part ===-->
		<div class="container content-sm">
			<!-- Service Blocks -->
			<div class="row margin-bottom-30">
				<div class="col-md-4">
					<div class="service">
						<i class="fa fa-cloud service-icon"></i>
						<div class="desc">
							<h4>Cloud Hosted Solutions</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<i class="fa fa-compress service-icon"></i>
						<div class="desc">
							<h4>Integrated with EMR</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<i class="fa fa-rocket service-icon"></i>
						<div class="desc">
							<h4>Fully Customizable Reports</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Service Blokcs -->

			<!-- Recent Works -->
			<div class="headline"><h2>Recent Works</h2></div>
			<div class="row margin-bottom-20">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnails thumbnail-style thumbnail-kenburn">
						<div class="thumbnail-img">
							<div class="overflow-hidden">
								<img class="img-responsive" src="../assets/registries1.jpg" alt="">
							</div>
							<a class="btn-more hover-effect" href="#">read more +</a>
						</div>
						<div class="caption">
							<h3><a class="hover-effect" href="#">Registries</a></h3>
							<p>Lumedx is the number-1 independent provider of ACC and STS registry software.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnails thumbnail-style thumbnail-kenburn">
						<div class="thumbnail-img">
							<div class="overflow-hidden">
								<img class="img-responsive" src="../assets/analytics1.jpg" alt="">
							</div>
							<a class="btn-more hover-effect" href="#">read more +</a>
						</div>
						<div class="caption">
							<h3><a class="hover-effect" href="#">Analytics</a></h3>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnails thumbnail-style thumbnail-kenburn">
						<div class="thumbnail-img">
							<div class="overflow-hidden">
								<img class="img-responsive" src="../assets/workflows1.jpg" alt="">
							</div>
							<a class="btn-more hover-effect" href="#">read more +</a>
						</div>
						<div class="caption">
							<h3><a class="hover-effect" href="#">Workflows</a></h3>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnails thumbnail-style thumbnail-kenburn">
						<div class="thumbnail-img">
							<div class="overflow-hidden">
								<img class="img-responsive" src="../assets/square2.jpg" alt="">
							</div>
							<a class="btn-more hover-effect" href="#">read more +</a>
						</div>
						<div class="caption">
							<h3><a class="hover-effect" href="#">Custom Services</a></h3>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Recent Works -->

			<!-- Info Blokcs -->
			<div class="row margin-bottom-30">
				<!-- Welcome Block -->
				<div class="col-md-8 md-margin-bottom-40">
					<div class="headline"><h2>Welcome To Lumedx</h2></div>
					<div class="row">
						<div class="col-sm-4">
							<img class="img-responsive margin-bottom-20" src="../assets/img18.jpg" alt="">
						</div>
						<div class="col-sm-8">
							<p>Lumedx is the number-1 independent provider of ACC and STS registry software.</p>
							<ul class="list-unstyled margin-bottom-20">
								<li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
								<li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
								<li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
								<li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
							</ul>
						</div>
					</div>

					<blockquote class="hero-unify">
						<p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
						<small>CEO, Jack Bour</small>
					</blockquote>
				</div><!--/col-md-8-->

				<!-- Latest Shots -->
				<div class="col-md-4">
					<div class="headline"><h2>Latest Products</h2></div>
					<div id="myCarousel" class="carousel slide carousel-v1">
						<div class="carousel-inner">
							<div class="item active">
								<img src="../assets/ACCPCIOverview2.jpg" alt="">
								<div class="carousel-caption">
									<p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
								</div>
							</div>
							<div class="item">
								<img src="../assets/HeartFailure1.jpg" alt="">
								<div class="carousel-caption">
									<p>Cras justo odio, dapibus ac facilisis into egestas.</p>
								</div>
							</div>
							<div class="item">
								<img src="../assets/PCIFinancial1.jpg" alt="">
								<div class="carousel-caption">
									<p>Justo cras odio apibus ac afilisis lingestas de.</p>
								</div>
							</div>
						</div>

						<div class="carousel-arrow">
							<a class="left carousel-control" href="#myCarousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div><!--/col-md-4-->
			</div>
			<!-- End Info Blokcs -->

			<!-- Owl Clients v1 -->
			<div class="headline"><h2>Our Clients</h2></div>
			<div class="owl-clients-v1">
				<div class="item">
					<img src="../assets/clients4/1.png" alt="">
				</div>
				<div class="item">
					<img src="../assets/clients4/2.png" alt="">
				</div>
				<div class="item">
					<img src="../assets/clients4/3.png" alt="">
				</div>
				<div class="item">
					<img src="../assets/clients4/4.png" alt="">
				</div>
				<div class="item">
					<img src="../assets/clients4/5.png" alt="">
				</div>
				<div class="item">
					<img src="../assets/clients4/6.png" alt="">
				</div>
				<div class="item">
					<img src="../assets/clients4/7.png" alt="">
				</div>
				<div class="item">
					<img src="../assets/clients4/8.png" alt="">
				</div>
				<div class="item">
					<img src="../assets/clients4/9.png" alt="">
				</div>
			</div>
			<!-- End Owl Clients v1 -->
		</div><!--/container-->
		<!-- End Content Part -->
<%= render "footer" %>
	</div><!--/wrapper-->


	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();

			ParallaxSlider.initParallaxSlider();
		});
	</script>

	</body>
	</html>
