<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Generic - Transit by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body>



		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major">
						<h2>Analytics Services</h2>
						<p>Ideas. Expertise. Achievement.</p>
					</header>

					<a href="#" class="image fit"><img src="../assets/HVservices.jpg" alt="" /></a>
					<p>Transform your cardiology business with the assistance of LUMEDX's healthcare consultants. the LUMEDX Consulting Group offers clients a portfolio of consulting services designed to help you improve all aspects of your business: operational, clinical and financial.</p>
					<p>With over two decades working in the field with heart hospitals worldwide, we have become adept at helping cardiovascular service lines rapidly improve performance and gain competitive advantage in their markets. We bring deep knowledge of CV analytics, registries and information systems, and we can deliver the expertise and ideas you need to achieve significant success.</p>
					<a href="http://www.lumedx.com/consulting.aspx">Learn More.</a>

				</div>
			</section>
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major">
						<p>Expert Analytics Consulting Packages</p>
					</header>

					<p>Because clinical and financial performance are interconnected, many of our consulting packages are holistic, addressing all aspects of your cardiovascular business. We also provide more focused packages to help you improve quickly in very specific areas: registry accreditation, data quality and more. We deliver impartial, expert assessments and make recommendations based on the unique factors contributing to your facility's success.</p>
					<p>Our offerings include:
						<ul>
							<li>Clinical Improvement</li>
							<li>Reaadmissions Improvement</li>
							<li>Data Quality Improvement</li>
							<li>Cloud-based Analytics Improvement</li>
							<li>Financial Assessment Services</li>
							<li>Financial Improvement</li>
						</ul>
						<strong>Contact us to discuss your individual analytics consulting needs using the links below</strong>
					</p>


				</div>
			</section>
		<!-- Footer -->
		<%= render 'footer' %>
	</body>
</html>