<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Generic - Transit by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Analytics Showcase</h2>
						<p>Featured this month: ACC PCI Overview Dashboard</p>
					</header>
						<a href="#" class="image fit"><img src="../assets/ACCPCIOverview.jpg" alt="" /></a>
					<p>The ACC PCI Overview Dashboard enables service line leaders to track 14 key PCI metrics including discharge medications, stress imaging tests, and non-obstructive CAD in near-real time. See performance on key metrics within a quarter, month, or day. Set your benchmarks and get daily red-yellow-green performance indicators. Apply a variety of filters and drill down on events and subsets of interest. Compare hospital and physician performance with built-in Scorecard views. Export target data sets to Excel for additional analysis. It's all within reach with the HealthView ACC PCI Overview Dashboard.</p>


				</div>
			</section>
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<p>Heart Failure Readmissions Dashboard</p>
					</header>
						<a href="#" class="image fit"><img src="../assets/HFReadmissions.jpg" alt="" /></a>
					<p>The HealthView Heart Failure Readmissions Dashboard enables you to view your program's performance in near-real time, so that you can understand the trends in your data and take immediate action. The Dashboard contains interactive graphical charts that allow any hospital to monitor and follow up on their heart failure patients. Monitor Heart Failure Readmissions, Mortality, LOS, and Volumes. Easily drill into the details and identify your frequent readmission patients for case management review. Examine LOS distributions, or view all metrics on one graph. Drill down on data using filters, view scorecards by physician and hospital. Export data to Excel for further analysis or management.</p>
					<p>The Heart Failure Readmissions Dashboard is part of the comprehensive HealthView Heart Failure workflow and is also available for purchase as a single performance-management solution.</p>

				</div>
			</section>

		<!-- Footer -->
		<%= render 'footer' %>
	</body>
</html>