

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head id="ctl00_Head1"><title>
	Home - HealthViewAnalytics.com
</title>
<link rel='stylesheet' type='text/css' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/cupertino/jquery-ui.css' />
<link rel='stylesheet' type='text/css' href='/csshandler.ashx?skin=healthview&amp;s=1&amp;v=2.3.9.7&amp;sv=e7b066c7-4f6c-4403-9180-ecaa2cf4f383' />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="search" type="application/opensearchdescription+xml" title="HealthViewAnalytics.com Site Search" href="http://healthviewanalytics.com/SearchEngineInfo.ashx" />
    <!--[if IE]>
	<meta http-equiv="Page-Enter" content="blendTrans(Duration=0)" /><meta http-equiv="Page-Exit" content="blendTrans(Duration=0)" />
	<![endif]-->
    
<link rel='shortcut icon' href='/Data/Sites/1/skins/healthview/favicon.ico' />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" ></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" type="text/javascript" ></script>
<link rel='canonical' href='http://healthviewanalytics.com/home.aspx' /><style type="text/css">
	.ctl00_SiteMenu1_ctl00_0 { text-decoration:none; }

</style></head>
<body id="ctl00_Body" class="pagebody">
    <script type="text/javascript"> 
var _gaq = _gaq || []; 
_gaq.push(['_setAccount','UA-42342829-1']); 
_gaq.push(['_gat._anonymizeIp']);
_gaq.push(['_setCustomVar', 1, 'member-type', 'anonymous', 1]); _gaq.push(['_trackPageview']); 
 _gaq.push(['_trackPageLoadTime']); 
 </script>
    <form method="post" action="/" id="aspnetForm">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATEFIELDCOUNT" id="__VIEWSTATEFIELDCOUNT" value="4" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMjA1OTAyNzk1MQ9kFgJmD2QWAgIDD2QWAgIDD2QWDgILD2QWAmYPZBYCAgEPD2QWAh4Fc3R5bGUFD2Rpc3BsYXk6aW5saW5lOxYGAgMPDxYGHghDc3NDbGFzcwUJc2VhcmNoYm94HgdUb29sVGlwBQtTaXRlIFNlYXJjaB4EXyFTQgICZGQCBQ8PFggeBFRleHQFBlNlYXJjaB8BBQxzZWFyY2hidXR0b24fAwICHgdWaXNpYmxlaGRkAgcPDxYKHwEFDHNlYXJjaGJ1dHRvbh4ISW1hZ2VVcmwFTGh0dHA6Ly9oZWFsdGh2aWV3YW5hbHl0aWNzLmNvbS9EYXRhL1NpdGVzLzEvc2tpbnMvaGVhbHRodmlldy9zZWFyY2gtaWNvbi5wbmceDUFsdGVybmF0ZVRleHQFBlNlYXJjaB8DAgIfBWdkZAINDw8WBh8BBS1hcnQtbGF5b3V0LWNlbGwgYXJ0LXNpZGViYXIxIGxl" />
<input type="hidden" name="__VIEWSTATE1" id="__VIEWSTATE1" value="ZnRzaWRlIGNtc3pvbmUfAwICHwVoZGQCDw8PFgQfAQU5YXJ0LWxheW91dC1jZWxsIGFydC1jb250ZW50LXdpZGUgY2VudGVyLW5vbWFyZ2lucyBjbXN6b25lHwMCAmQWAgIFD2QWBGYPZBYCAgIPDxYEHwEFEGFydC1ib3ggYXJ0LXBvc3QfAwICZBYCAgMPDxYEHwEFMmFydC1ib3gtYm9keSBhcnQtcG9zdC1ib2R5IHBhbmVsd3JhcHBlciBodG1sbW9kdWxlHwMCAmQWAgIDDw8WBB8BBQ9hcnQtcG9zdGNvbnRlbnQfAwICZBYCAgEPZBYEAgEPDxYCHwVoZBYCAgEPZBYCZg9kFgICBQ9kFgJmDxYCHgpDYWxsYmFja0lEBSljdGwwMCRtYWluQ29udGVudCRjdGwwMCRSYXRpbmckVXNlclJhdGluZ2QCDQ8PFgIfBWhkFgICAQ9kFgJmD2QWAgIFD2QWAmYPFgIfCAUvY3Rs" />
<input type="hidden" name="__VIEWSTATE2" id="__VIEWSTATE2" value="MDAkbWFpbkNvbnRlbnQkY3RsMDAkUmF0aW5nQm90dG9tJFVzZXJSYXRpbmdkAgEPZBYCAgIPDxYEHwEFEGFydC1ib3ggYXJ0LXBvc3QfAwICZBYCAgMPDxYEHwEFMmFydC1ib3gtYm9keSBhcnQtcG9zdC1ib2R5IHBhbmVsd3JhcHBlciBodG1sbW9kdWxlHwMCAmQWAgIDDw8WBB8BBQ9hcnQtcG9zdGNvbnRlbnQfAwICZBYCAgEPZBYEAgEPDxYCHwVoZBYCAgEPZBYCZg9kFgICBQ9kFgJmDxYCHwgFKWN0bDAwJG1haW5Db250ZW50JGN0bDAxJFJhdGluZyRVc2VyUmF0aW5nZAINDw8WAh8FaGQWAgIBD2QWAmYPZBYCAgUPZBYCZg8WAh8IBS9jdGwwMCRtYWluQ29udGVudCRjdGwwMSRSYXRpbmdCb3R0b20kVXNlclJhdGluZ2QCEQ8PFgYfAQUuYXJ0LWxheW91dC1j" />
<input type="hidden" name="__VIEWSTATE3" id="__VIEWSTATE3" value="ZWxsIGFydC1zaWRlYmFyMiByaWdodHNpZGUgY21zem9uZR8DAgIfBWhkZAIXDw8WAh8FaGRkAh0PDxYCHwVoZGQCKQ8PFgIfBWhkZBgBBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WAgUVY3RsMDAkU2l0ZU1lbnUxJGN0bDAwBSBjdGwwMCRTZWFyY2hJbnB1dEJveDEkYnRuU2VhcmNoMqoCQx8cKJJRAuWZVn3k/5QTfMfl" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/WebResource.axd?d=yryfc5JLEPgTt0n0r1jdu_V7YLGyn8B7fNd8jhy_JD9mq6BEnXyhoUfc-OJ4FBusnFJTLBUQ86Pe4BvTW5Ow7VeMkvg1&amp;t=635803038500000000" type="text/javascript"></script>


<script src="/ClientScript/jqmojo/jquery.cycle.all.min.js" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=0_HJe_5e3D_zSz0FiWpIzRk8fSh5fHk815r8F9DrMA0CzGR1Jyu-0ZbikwABPlK0ifsFeZ4Ngw1Zd_k78TXkleSbl3UYPgzs9rKgQxR8QYMZODRJ7zL1U-0ZErQNNkfDUwo-YIpWloGV9Qea09DzVtMZwdp-DOEQF_v25T3pQ0Tcq7_WxW7Lbdg3eMw-WEIV5qSfKPbV1xtA7M3BzZKajypY1C7A_yuMQkCcz5J9VYJ_10ZqNYrMOHn2_lNyxscc8XebsJ3hAgUdB3zNfAKr38cDah0rvglbPE7G9ajm4Ix_qljESYNQst9uQzf-2u7dfk8ZiW98-0BnOz7lAcfLnJo08dYp1wf2vsljTmzID-zJr0ybdWBwcX9qRuEneoPie-a0ag2" type="text/javascript"></script>
<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAXBrCf99c/0cNULc/1+R9Bo9dHHnqQCXsIaWJvEBveNXoo2wYLFBwaQOvfuV4fhvkiW6qlP5JE8ZqPoK6R3rKWn5h7PR2e1wLPNTsio89uOtkKLf3Ij/om3gbgDk1VoveocMd7C" />
</div>
    
    
    
    <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager1', 'aspnetForm', [], [], [], 90, 'ctl00');
//]]>
</script>


<script>
      $(document).ready(function () {
           $(".cbVideoIframe").colorbox({ iframe: true, innerWidth: 425, innerHeight: 344 });
           $(".cbPDF").colorbox({ width: "80%", height: "80%", iframe: true, scrolling: true, opacity: 0.3 });
 	   $(".cbWebpage").colorbox({ iframe: true, innerWidth: 700, innerHeight: 455, opacity: 0.3 });
           $(".cbFrame2").colorbox({ iframe: true, innerWidth: 750, innerHeight: 971 });
      });
</script>    
<div id="art-page-background-glare-wrapper">
        <div id="art-page-background-glare"></div>
    </div>
    <div id="art-page-background-middle-texture">
        <div id="art-main">
            <div class="cleared reset-box"></div>
            <div class="art-header">
                <div class="art-header-position">
                    <div class="art-header-wrapper">
                        
                        <div class="art-header-inner">
                            <div class="art-bar art-nav">
                                <div class="art-nav-outer">
                                    <div class="art-nav-wrapper">
                                        <div class="art-nav-inner">
                                            <div class="art-nav-center">

                                                

<div id="ctl00_SiteMenu1_ctl00">
		<ul id="ctl00_SiteMenu1_ctl00_UL" class="art-hmenu">
			<li class="active">
				<a class="active" href="/home.aspx">
					Home</a>
			</li>
			<li>
				<a href="/analytics-showcase.aspx">
					Analytics Showcase</a>
				<ul class="AspNet-TreeView-Hide treehide">
					<li>
						<a href="/acc-pci-overview-dashboard.aspx">
							ACC PCI Overview Dashboard</a>
					</li>
					<li>
						<a href="/heart-failure-readmissions-dashboard.aspx">
							Heart Failure Readmissions Dashboard</a>
					</li>
					<li>
						<a href="/pci-financial-dashboard.aspx">
							PCI Financial Dashboard</a>
					</li>
					<li>
						<a href="/workflow-dashboards.aspx">
							Workflow Dashboards</a>
					</li>
					<li>
						<a href="/free-trial-signup.aspx">
							Free Trial Signup</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/services.aspx">
					Services</a>
			</li>
		</ul>

</div>


<div id='ctl00_SearchInputBox1_pnlS' class=''>

<div id="ctl00_SearchInputBox1_pnlSearch" class="searchpanel " onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;ctl00_SearchInputBox1_btnSearch2&#39;)" style="display:inline;">
	

<input onfocus="javascript:watermarkEnter(this, &#39;search&#39;);" onblur="javascript:watermarkLeave(this, &#39;search&#39;);" name="ctl00$SearchInputBox1$txtSearch" type="text" id="ctl00_SearchInputBox1_txtSearch" title="Site Search" class="searchbox" />

<input type="image" name="ctl00$SearchInputBox1$btnSearch2" id="ctl00_SearchInputBox1_btnSearch2" class="searchbutton" src="http://healthviewanalytics.com/Data/Sites/1/skins/healthview/search-icon.png" alt="Search" />

</div>

</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cleared reset-box"></div>
            <div class="art-box art-sheet">
                <div class="art-box-body art-sheet-body">
                    <div class="art-layout-wrapper">
                        <div class="art-content-layout">
                            <div class="art-content-layout-row">
                                
                                <div id="ctl00_divCenter" class="art-layout-cell art-content-wide center-nomargins cmszone">
	
                                    
                                    
                                    <a id="startcontent"></a>
                                    
<div id='ctl00_mainContent_ctl00_pnlOuterWrap' class='art-box art-post'>


<div id='ctl00_mainContent_ctl00_pnlInnerWrap' class='art-box-body art-post-body panelwrapper htmlmodule'>
<div class='art-post-inner art-article'>
<a id='module35' class='moduleanchor'></a>
<div id='ctl00_mainContent_ctl00_pnlOuterBody' class='art-postcontent'>
<div class='art-content-layout'><div class='art-content-layout-row'>
<div id='ctl00_mainContent_ctl00_pnlInnerBody' class='modulecontent'>


<div id="ctl00_mainContent_ctl00_divContent" class="slidecontainer">
		<div><a class="cbWebpage" onclick="window.open(this.href,'_self');return false; " href="http://216.32.24.185/acc-pci-tier-1-dashboard.aspx"><img style="height: 395px; width: 550px;" alt="" src="/Data/Sites/1/media/Home/ACC-PCI-Overview-Dashboard.jpg" /></a></div>
<div><a class="cbWebpage" title="Click to play Video" onclick="window.open(this.href,'_self');return false; " href="http://216.32.24.185/heart-failure-readmissions-dashboard.aspx"><img style="height: 403px; width: 560px;" alt="" src="/Data/Sites/1/media/Home/Heart-Failure.jpg" /></a></div>
<div><a class="cbWebpage" title="Click to play Video" onclick="window.open(this.href,'_self');return false; " href="http://216.32.24.185/pci-financial-dashboard.aspx"><img style="width: 560px;" alt="" src="/Data/Sites/1/media/Home/Financial-Dashboard.jpg" /></a></div>
	</div>
<input type="hidden" name="ctl00$mainContent$ctl00$hdnIsDirty" id="ctl00_mainContent_ctl00_hdnIsDirty" />






</div>
<div id='ctl00_mainContent_ctl00_divFooter' class='modulefooter'>

</div>
</div></div>
</div>
<div id='ctl00_mainContent_ctl00_divCleared' class='cleared'>

</div>
</div><div class='cleared'></div>
</div>


</div>

<div id='ctl00_mainContent_ctl01_pnlOuterWrap' class='art-box art-post'>


<div id='ctl00_mainContent_ctl01_pnlInnerWrap' class='art-box-body art-post-body panelwrapper htmlmodule'>
<div class='art-post-inner art-article'>
<a id='module5' class='moduleanchor'></a>
<div id='ctl00_mainContent_ctl01_pnlOuterBody' class='art-postcontent'>
<div class='art-content-layout'><div class='art-content-layout-row'>
<div id='ctl00_mainContent_ctl01_pnlInnerBody' class='modulecontent'>


<div id="ctl00_mainContent_ctl01_divContent" class="slidecontainer">
		<p style="text-align: left;"><strong>What is HealthViewAnalytics.com </strong>- A new entry portal for Lumedx customers to access their HealthView applications and Analytics solutions from a variety of devices and locations. This site has a HealthView login to take you to Lumedx applications, dashboards, and Analytics Manager reports.  It also links to a discussion forum with Analytics-specific content, previews of our latest Analytics offerings, information on Analytics consulting, and more.  Log in to view additional content links.<br />  </p>
<div style="width: 100%;">
<table style="border-radius: 10px; width: 945px; background-color: #d9e2ea;" border="0">
<tbody>
<tr>
<td> </td>
<td>
<p style="text-align: left; line-height: 23px;"> </p>
<p style="text-align: left;"><strong><a href="http://216.32.24.185/heart-failure-dashboard.aspx"><img style="border-width: 10px; border-style: solid; width: 125px; height: 82px; margin-right: 10px; margin-left: 10px; float: left;" alt="" src="/Data/Sites/1/media/Home/btn-hf.jpg" /></a>Monitor Heart Failure Readmissions, Mortality, LOS, and Volumes </strong><br /> Know your numbers inside and out. Easily drill into the details and identify your frequent patients for case management review. <a href="http://216.32.24.185/heart-failure-dashboard.aspx">Click here</a> to learn more about the HealthView Heart Failure Dashboard.</p>
<p style="text-align: left; line-height: 23px;"> </p>
<!--
					<p style="text-align: left; line-height: 23px;">
						<strong><a href="http://216.32.24.185/financial-dashboards.aspx"><img alt="" src="/Data/Sites/1/media/Home/btn-pci.jpg" style="border-width: 10px; border-style: solid; width: 125px; height: 82px; margin-right: 10px; margin-left: 10px; float: left;" /></a>Access Key PCI Financial and Operations Metrics, All in One Place&nbsp;</strong><br />
						Monitor and improve your PCI business with the Financial Dashboard for PCI. Track DRGs, cost per case, payor mix and more.&nbsp;<a href="http://216.32.24.185/financial-dashboards.aspx">Click here</a>&nbsp;for more information&nbsp;about the PCI Financial Dashboard.&nbsp;</p>--></td>
</tr>
</tbody>
</table>
</div>
<p> </p>
	</div>
<input type="hidden" name="ctl00$mainContent$ctl01$hdnIsDirty" id="ctl00_mainContent_ctl01_hdnIsDirty" />






</div>
<div id='ctl00_mainContent_ctl01_divFooter' class='modulefooter'>

</div>
</div></div>
</div>
<div id='ctl00_mainContent_ctl01_divCleared' class='cleared'>

</div>
</div><div class='cleared'></div>
</div>


</div>

                                
</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="cleared"></div>
                    <div class="art-footer">
                        <div class="art-footer-body">
                        <div class="art-footer-center">
                        <div class="art-footer-wrapper"> 
                            
                            <div class="art-footer-text">
                                <p>

                                    <a class="sitemaplink" href="/SiteMap.aspx">Site Map</a>
                               
                                    &copy; 2012 - 2016 HealthView
                                    
</p>
                            </div>

                        </div>
                        </div>
                        <div class="cleared"></div>
                        </div>
                    </div>
                    <div class="cleared"></div>
                </div>
                <div class="cleared"></div>
            </div>
            <div class="cleared"></div>
            <p class="art-page-footer">
                <br />
                <br />
            </p>
        </div>
        <div class="topnavwrap">
            <div class="topnav">

               <ul>


<li class="topnavitem"><a class="sitelink" rel="nofollow" href="https://www.healthviewnetwork.com/HealthView/Login.aspx?Redirect=HVALoginUrl?returnurl=%2f">Login</a></li> 
 
 



 

                </ul>
<a href='/' title='HealthViewAnalytics.com' class=''><img class='sitelogo' alt='HealthViewAnalytics.com' src='/Data/Sites/1/logos/healthview-analytics.png' /></a> 

           </div>
        </div>
        <script type="text/javascript">
            function HideMenuToolbar() { $("#toolbar").fadeOut(); $("#toolbarbut").fadeIn("slow"); }
            function ShowMenuToolbar() { $("#toolbar").fadeIn(); $("#toolbarbut").fadeOut("slow"); }
            $(document).ready(function () {
                $("span.downarr a").click(function () { HideMenuToolbar(); Set_Cookie('openstate', 'closed') });
                $("span.showbar a").click(function () { ShowMenuToolbar(); Set_Cookie('openstate', 'open') });
                $("span.downarr a, span.showbar a").click(function () { return false; });
                var openState = Get_Cookie('openstate');
                if (openState != null) { if (openState == 'closed') { HideMenuToolbar(); } if (openState == 'open') { ShowMenuToolbar(); } }
            });	
        </script>
        
        <div class="cleared">
        </div>
    </div>
    

    
<script type="text/javascript">Sys.Application.add_load(function() { var form = Sys.WebForms.PageRequestManager.getInstance()._form; form._initialAction = form.action = window.location.href; }); </script>
<script type="text/javascript">
//<![CDATA[

WebForm_InitCallback();//]]>
</script>

<script type="text/javascript" > $('div.mojo-accordion').accordion({});$('div.mojo-accordion-nh').accordion({heightStyle:'content',animate:{opacity:'toggle',duration:'400'}}); $('div.mojo-tabs').tabs({}); $('input.jqbutton').button(); $('.jqtt').tooltip(); $('a.cblink').colorbox({width:'85%', height:'85%', iframe:true});$('.faqs dd').hide();$('.faqs dt').hover(function(){$(this).addClass('hover')},function(){$(this).removeClass('hover')}).click(function(){ $(this).next().slideToggle('normal'); });  $("a.unclickable").click(function(){ return false; });</script><script type='text/javascript'>
<!--

  var wmctl00_SearchInputBox1_txtSearch = document.getElementById('ctl00_SearchInputBox1_txtSearch'); if(wmctl00_SearchInputBox1_txtSearch){wmctl00_SearchInputBox1_txtSearch.value = 'search';}
//-->
</script>
<script type="text/javascript">
 //<![CDATA[ 
$('#ctl00_mainContent_ctl00_divContent').after('<div id="ctl00_mainContent_ctl00_divContentcyclenav" class="cyclenav"></div>').cycle({fx:'fade',speed:1000,timeout:4000,next:'#ctl00_mainContent_ctl00_divContent',pager:'#ctl00_mainContent_ctl00_divContentcyclenav'});  
 //]]> 
 </script>
<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript"> 
try{
var mojoPageTracker = _gat._getTracker("UA-42342829-1");

mojoPageTracker._setCustomVar(1, "member-type", "anonymous", 1);mojoPageTracker._trackPageview();
} catch(err) {} </script></form>
    
<script type="text/javascript"> 
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
})();
</script>
</body>
</html>
